.pokemon-table-container {
  margin-inline: auto;
  max-width: 40rem;
  text-align: center;
  width: 100%;
}

.pokemon-table {
  width: 100%;
}

.pokemon-table th {
  background-color: #adcdf7;
  font-weight: 400;
  padding: 1rem;
  text-align: left;
}

.pokemon-table td {
  padding: 1rem;
  text-transform: capitalize;
  text-align: start;

  &:hover {
    background-color: #f5f5f5;
  }
}

.pokemon-table tr:nth-child(odd) td {
  background-color: #f8f8f8;
}

.pokemon-table-link {
  color: var(--color-table-link);
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.pokemon-table-link:active {
  color: var(--color-primary);
}

.pokemon-table-link:hover,
.pokemon-table-link:focus {
  color: var(--color-primary-dark);
  outline-offset: 2px;
  text-decoration: underline;
}

.pokemon-table-error {
  color: var(--color-error);
  padding: 2rem;
  text-align: center;
}

.pokemon-table-pagination {
  background-color: var(--pagination-background);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pokemon-table-pagination button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

