:root {
  --color-primary: #1976d2;
  --color-primary-dark: #0d47a1;
  --color-table-header: #adcdf7;
  --color-error: red;
  --color-outline: #90caf9;
  --color-table-link: #000;
  --pagination-background: #deebfd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:focus-visible {
  outline-offset: 3px;
}

:where(html) {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-size-adjust: none;
}

:where(html) {
  line-height: 1.5;
}

:where(html) {
  scrollbar-gutter: stable;
}

:where(h1) {
  font-size: 2em;
  margin-block: 0.67em;
}

:where(fieldset) {
  min-inline-size: 0;
}

:where(label):has(+ :where(textarea, input, select)) {
  display: block;
}

:where(textarea:not([rows])) {
  min-block-size: 6em;
}

:where(button, input, select, textarea) {
  font-family: inherit;
  font-size: inherit;
}

:where([type="search"]) {
  -webkit-appearance: textfield;
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
  :where([type="search"]) {
    border: 1px solid -apple-system-secondary-label;
    background-color: canvas;
  }
}

:where(table) {
  border-collapse: collapse;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}